﻿* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/fjallaone/v1/SHXJdWnWW6HDq-6DpcG8PxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
/*********/
body {
  color: #444;
  min-height: 600px;
  font-size: 10.769230769230768px;
  border-top: 4px solid #e1e1e1;
}
.container {
  width: 960px;
  margin: 0 auto;
}
header {
  padding: 35px 0 10px 0;
  position: relative;
}
/*header:before,
	#dropbox:before {
		display: block;
		content: '';
		height: 4px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	}*/
h1 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 42px;
}
#dropbox {
  border-radius: 3px;
  position: relative;
  margin: 30px auto 90px;
  min-height: 250px;
  overflow: hidden;
  padding-bottom: 40px;
  width: 990px;
  background-color: #555;
  color: #fff;
}
#dropbox .message {
  text-align: center;
  padding-top: 120px;
  display: block;
  font-size: 14px;
}
#dropbox .message i {
  color: #e1e1e1;
  font-size: 14px;
}
#dropbox:before {
  border-radius: 3px 3px 0 0;
}
#imgGallery {
  /*-------------------------
	Progress Bars
	--------------------------*/

}
#imgGallery .preview {
  width: 245px;
  height: 215px;
  float: left;
  margin: 15px 30px 0 0px;
  position: relative;
  text-align: center;
}
#imgGallery .preview img {
  max-width: 240px;
  max-height: 180px;
  border: 3px solid #fff;
  display: block;
  box-shadow: 0 0 2px #000;
  -webkit-box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
}
#imgGallery .imageHolder {
  display: inline-block;
  position: relative;
}
#imgGallery .uploaded {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: url('/content/images/done.png') no-repeat center center rgba(255, 255, 255, 0.5);*/
  display: none;
}
#imgGallery .done .uploaded {
  display: block;
}
#imgGallery .progressHolder {
  position: absolute;
  background-color: #252f38;
  height: 12px;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #000;
}
#imgGallery .progress {
  background-color: #2586d0;
  position: absolute;
  height: 100%;
  left: 0;
  width: 0;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
#imgGallery .done .progress {
  width: 100% !important;
}
