﻿@using UploadPhoto.Models
<h2>List</h2>

<div>
@foreach (Photo img in Model)
{
     var filePath =  img.FilePath+img.FileName;
            <div class="imagelabel">
                @img.ID
            </div>

            <div>
                 <img src="@Url.Content(filePath)" alt="Image" width ="300" height="300" />
            </div>

    
}
       </div> 
