﻿@{
    Layout=null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Drag and Drop Image in ASP.NET MVC 4</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Drag and Drop Image in ASP.NET MVC 4
            </h1>
        </header>
        <div id="main">
            <div id="dropbox">
                <span class="message">Drop images here to upload.
                    <br />
                    <i>(they will only be visible to you)</i></span>
                 
                 
            </div>
            
            <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
            <div id="imgGallery">
            </div>
        </div>
        <footer>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/jquery.filedrop.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>
